html{
  width: 100%;
  height: 100%;
}
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
}
#down-arrow{
  height: 45px;
  position: relative;
  left: 1em;
}
.cesit{
  flex-direction: column;
  align-items: left;
  padding-left: 1em;
  justify-content: flex-start;
  text-align: left;
  background-color: rgb(28 12 57);
  position: absolute;
  width: 15em;
  height: 67em;
  top: 8em;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 15px;
  backdrop-filter: blur(50px);
  display: none;
}
.soruces{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: system-ui, helvetica;
  font-size: 17.5px;
  color: rgba(250, 220, 250, .8);
  cursor: pointer;
  width: 6em;
  display: inline-block;
  transition: all 0.15s cubic-bezier(0, 0.53, 1, 1);
}
.soruces:hover{
  display: inline-block;
  text-decoration: underline;
  color: rgb(170, 150, 170);
}
#earth{
  font-size: 15px;
  height: 80px;
  position: absolute;
  left: 5em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: system-ui, helvetica;
  position: absolute;
  margin-left: 7em;
  font-weight: bolder;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  right: 5em;
  width: 7.5em;
  height: 8em;
}
#code{
  height: 40px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 35px;
  position: absolute;
  right: 2em;
}

/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 77.5em;
  width: 100%;
  align-self: center;
}
.sorualani{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 28em;
  height: 45em;
  background-color: rgb(11 18 68 / 70%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  filter: drop-shadow(rgb(250 250 250 / 60%) 0px 0px 40px);
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 15em;
  width: 25em;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .7) 0 0 25px;
}
#sorubaslik{
  font-size: 20px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
}
.siklar{
  margin-top: .5em;
  display: grid;
  grid-template-rows: 5em 5em 5em 5em 5em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 4em;
  width: 25em;
  border-radius: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgba(239, 254, 10, .3) 0 0 7.5px;
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  color: rgb(240, 232, 255);
  font-size: 17.5px;
}
