html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media(max-width: 1023px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 12em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
}
.accesit{
  height: 67.5px;
  width: 67.5px;
  position: relative;
  left: 2.25em;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.accesit:hover{
  background-color: #34425c9c;
}
#down-arrow{
  height: 71.25px;
  margin-top: 7.5px;
}
.cesit{
  flex-direction: column;
  align-items: left;
  padding-left: 2.25em;
  justify-content: flex-start;
  text-align: left;
  background-color: rgb(28 12 57);
  position: absolute;
  width: 22.5em;
  height: 100.5em;
  top: 12em;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 15px;
  backdrop-filter: blur(50px);
  display: none;
}
.soruces{
  margin-top: 2.25em;
  margin-bottom: 2.25em;
  font-family: system-ui, helvetica;
  font-size: 22.5px;
  color: rgba(250, 220, 250, .8);
  cursor: pointer;
  width: 6em;
  display: inline-block;
  transition: all 0.15s cubic-bezier(0, 0.53, 1, 1);
}
.soruces:hover{
  display: inline-block;
  text-decoration: underline;
  color: rgb(170, 150, 170);
}
#earth{
  font-size: 22.5px;
  height: 120px;
  position: absolute;
  left: 5em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: system-ui, helvetica;
  position: absolute;
  margin-left: 8.5em;
  font-weight: bolder;
  font-size: 30px;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8.5em;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 60px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 52.5px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 67.75px;
  height: 67.75px;
  position: relative;
  right: 3em;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.ustukapat:hover{
  background-color: #34425c9c;
}
/*sun*/
.sun{
  position: absolute;
  height: 30em;
  width: 30em;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: -10em;
  bottom: 0em;
  z-index: 3;
  overflow: hidden;
}
/*mercure*/
.mercure{
  display: none;
}
/*moon*/
.moon{
  position: absolute;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 24em;
  right: 24em;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
}
@keyframes uydu{
  0%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 24em; right: 24em; z-index: 1;}
  10%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  14%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  18%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  22%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  26%{background-image: linear-gradient(100deg, #747479, #777474, #8c8e90);}
  30%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  40%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  50%{background-image: linear-gradient(100deg, #525255, #c1bcbc, #ffffff); bottom: 0em; right: 0em; display: none;}
  60%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  70%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  74%{background-image: linear-gradient(100deg, #747479, #777474, #4e4f50);}
  78%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  82%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  86%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  90%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  100%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 24em; right: 24em; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 25em;
  height: 25em;
  right: 2em;
  bottom: 5em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 15em;
  height: 15em;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 7.5em;
  bottom: 12.5em;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
}
.cloud{
  position: absolute;
  width: 20em;
  height: 12.5em;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 7.5em;
  bottom: 2.5em;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  transform: rotate(25deg);
  box-shadow: 0 0 20px #20232673;
}
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5em;
  right: 0;
}
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
}
.sorualani{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35em;
  height: 50em;
  background-color: rgb(0 0 48 / 25%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 2;
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 22.75em;
  width: 35em;
  border-radius: 1,53em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .3) 0 0 25px;
  transition: all .25s ease-in-out;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 1.5em;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 30%) 0 0 25px;
}
#sorubaslik{
  font-size: 20px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5em 0 .5em;
}
.siklar{
  margin-top: .5em;
  display: grid;
  grid-template-rows: 7.5em 7.5em 7.5em 7.5em 7.5em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 5em;
  width: 30em;
  border-radius: 1.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 0;
}
.suk:hover{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -10px 15px inset;
}
@keyframes skac{
  to{box-shadow: rgba(239, 254, 10, .3) 0 0 7.5px,
    rgb(230 230 250 / 20%) 0 10px 15px inset}
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 20px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}





@media(min-width: 1024px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
}
.accesit{
  height: 45px;
  width: 45px;
  position: relative;
  left: 1em;
  border-radius: 10px;
  transition: all .20s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.accesit:hover{
  background-color: #34425c9c;
}
#down-arrow{
  height: 47.5px;
  margin-top: 5px;
}
.cesit{
  flex-direction: column;
  align-items: left;
  padding-left: 1em;
  justify-content: flex-start;
  text-align: left;
  background-color: rgb(28 12 57);
  position: absolute;
  width: 15em;
  height: 67em;
  top: 8em;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 15px;
  backdrop-filter: blur(50px);
  display: none;
}
.soruces{
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-family: system-ui, helvetica;
  font-size: 17.5px;
  color: rgba(250, 220, 250, .8);
  cursor: pointer;
  width: 6em;
  display: inline-block;
  transition: all 0.15s cubic-bezier(0, 0.53, 1, 1);
}
.soruces:hover{
  display: inline-block;
  text-decoration: underline;
  color: rgb(170, 150, 170);
}
#earth{
  font-size: 15px;
  height: 80px;
  position: absolute;
  left: 5em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: system-ui, helvetica;
  position: absolute;
  margin-left: 7em;
  font-weight: bolder;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 7.5em;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 40px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 35px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: relative;
  right: 2em;
  border-radius: 10px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.ustukapat:hover{
  background-color: #34425c9c;
}
/*sun*/
.sun{
  position: absolute;
  height: 70em;
  width: 70em;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: -30em;
  bottom: -30em;
  z-index: 3;
  overflow: hidden;
}
/*mercure*/
.mercure{
  height: 10em;
  width: 10em;
  z-index: 0;
  right: 40em;
  bottom: 20em;
  border-radius: 50%;
  background-image: linear-gradient(45deg,#f90b0bf5, #261515f5);
  box-shadow: 0 0 50px #490d12;
  position: absolute;
}
/*moon*/
.moon{
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 32.5em;
  right: 30em;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
}
@keyframes uydu{
  0%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 32.5em; right: 30em; z-index: 1;}
  10%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  14%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  18%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  22%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  26%{background-image: linear-gradient(100deg, #747479, #777474, #8c8e90);}
  30%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  40%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  50%{background-image: linear-gradient(100deg, #525255, #c1bcbc, #ffffff); bottom: 0em; right: 0; display: none;}
  60%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  70%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  74%{background-image: linear-gradient(100deg, #747479, #777474, #4e4f50);}
  78%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  82%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  86%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  90%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  100%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 32.5em; right: 30em; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 35em;
  height: 35em;
  right: 0em;
  bottom: 5em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 20em;
  height: 20em;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 17.5em;
  bottom: 15em;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
}
.cloud{
  position: absolute;
  width: 30em;
  height: 17.5em;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 10em;
  bottom: 5em;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  transform: rotate(25deg);
  box-shadow: 0 0 20px #20232673;
}
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5em;
  right: 0;
}
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
}
.sorualani{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 28em;
  height: 45em;
  background-color: rgb(0 0 48 / 25%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 2;
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 15em;
  width: 25em;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .7) 0 0 25px;
  transition: all .25s ease-in-out;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 15em;
  width: 25em;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 70%) 0 0 25px;
}
#sorubaslik{
  font-size: 20px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5em 0 .5em;
}
.siklar{
  margin-top: .5em;
  display: grid;
  grid-template-rows: 5em 5em 5em 5em 5em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 4em;
  width: 25em;
  border-radius: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 0;
}
.suk:hover{
  height: 4em;
  width: 25em;
  border-radius: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -10px 15px inset;
}
@keyframes skac{
  to{box-shadow: rgba(239, 254, 10, .3) 0 0 7.5px,
    rgb(230 230 250 / 50%) 0 10px 15px inset}
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 17.5px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}
