html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#instalink{
  position: absolute;
  right: calc(5% + 12svw);
  width: calc(2% + 2svw);
}
#tiktoklink{
  position: absolute;
  right: calc(10% + 12svw);
  width: calc(2% + 2svw);
  opacity: .8;
}
#youtubelink{
  position: absolute;
  right: calc(20% + 6.75svw);
  opacity: .9;
}
@media(max-width: 1023px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 6em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
  transition: all .5s;
}
#earth{
  font-size: 12.5px;
  height: 60px;
  position: absolute;
  left: 1em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
  margin-right: 1em;
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: helvetica;
  position: absolute;
  font-weight: bolder;
  font-size: 15px;
  width: 40%;
  right: calc(65% - 5em);
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1rem;
  right: 4.5em;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 35px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 35px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: absolute;
  right: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  top:  1.75rem;
}
.ustukapat:hover{
  background-color: #34425c9c;
}
  @keyframes ust{
    to{top: -6em; display: none}
  }
  @keyframes ust-rvr{
    from{top: -6em; display: none;}
    to{top: 0; display: flex}
  }
  @keyframes ustukapat{
    to{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); border-radius: 20px;}
  }
  @keyframes ustukapat-rvr{
    from{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); border-radius: 20px;}
    to{background-color: rgb(56 38 88); transform: rotate(360deg); border-radius: 10px;}
  }
/*sun*/
.sun{
  position: absolute;
  height: 20em;
  width: 20em;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: calc(-12.5em + 5%);
  bottom: 0;
  z-index: 3;
  overflow: hidden;
}
/*moon*/
.moon{
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 12em;
  right: 10em;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
}
@keyframes uydu{
  0%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 12em; right: 10em; z-index: 1;}
  10%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  14%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  18%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  22%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  26%{background-image: linear-gradient(100deg, #747479, #777474, #8c8e90);}
  30%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  40%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  50%{background-image: linear-gradient(100deg, #525255, #c1bcbc, #ffffff); bottom: 0em; right: 0em; display: none;}
  60%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  70%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  74%{background-image: linear-gradient(100deg, #747479, #777474, #4e4f50);}
  78%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  82%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  86%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  90%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  100%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 12em; right: 10em; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 12.5em;
  height: 12.5em;
  right: .5em;
  bottom: 1em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 7.5em;
  height: 7.5em;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 7.5em;
  bottom: 7.5em;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
}
.cloud{
  position: absolute;
  width: 12.5em;
  height: 7.5em;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 7.5em;
  bottom: 2.5em;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  transform: rotate(25deg);
  box-shadow: 0 0 20px #20232673;
}
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5em;
  right: 0;
}
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5em;
  width: 15.5em;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7.5em;
  width: 15.5em;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 16em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 16em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
  font-size: 20px;
}
.sorualani{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20em;
  height: 30em;
  background-color: rgb(0 0 48 / 60%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 10.75em;
  width: 17.75em;
  border-radius: 1.5em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .3) 0 0 25px;
  transition: all .25s ease-in-out;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 1.5em;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 30%) 0 0 25px;
}
#sorubaslik{
  font-size: 15px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5em 0 .5em;
}
.siklar{
  margin-top: 1em;
  display: grid;
  grid-template-rows: 2.5em 2.5em 2.5em 2.5em 2.5em;
  grid-row-gap: 1em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 2.75em;
  width: 17.75em;
  border-radius: .75em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 1;
}
.suk:hover{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -5px 5px inset;
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 12.5px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}





@media(min-width: 1024px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 16svh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
  transition: all .5s;
  z-index: 5;
}
#earth{
  font-size: 15px;
  height: 80px;
  position: absolute;
  left: 1.5svw;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  font-size: calc(1em + .75svw);
  color: rgb(240, 232, 255);
  font-family: helvetica;
  position: absolute;
  margin-left: calc(2.5em + 5svw);
  font-weight: bolder;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 7.5em;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 40px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 35px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 4.25svh;
  right: 2.5rem;
  border-radius: 10px;
  transition: all .8s ease-in-out;
  cursor: pointer;
  z-index: 6;
}
  @keyframes ust{
    to{top: -16svh; display: none}
  }
  @keyframes ust-rvr{
    from{top: -16svh; display: none;}
    to{top: 0; display: flex}
  }
  @keyframes ustukapat{
    from{background-color: rgb(56 38 88); transform: rotate(360deg); top: 4.25svh; right: 2.5rem; width: 45px; height: 45px; border-radius: 10px;}
  to{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); top: 1rem; right: 1rem; transform: rotate(180deg); width: 70px; height: 70px; border-radius: 50%;}
  }
  @keyframes ustukapat-rvr{
    from{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); top: 1rem; right: 1rem; transform: rotate(180deg); width: 70px; height: 70px; border-radius: 50%;}
    to{background-color: rgb(56 38 88); transform: rotate(360deg); top: 4.25svh; right: 2.5rem; width: 45px; height: 45px; border-radius: 10px;}
  }
/*sun*/
.sun{
  position: absolute;
  height: 40svw;
  width: 40svw;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: -20svw;
  bottom: 0em;
  z-index: 3;
  overflow: hidden;
}
/*moon*/
.moon{
  position: absolute;
  width: 10svw;
  height: 10svw;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 25svw;
  right: 30svw;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
  animation-delay: .25s;
}
@keyframes uydu{
  0%{bottom: 25svw; right: 30svw; z-index: 1;}
  50%{bottom: 0em; right: 0; display: none;}
  100%{bottom: 25svw; right: 30svw; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 30svw;
  height: 30svw;
  right: 0em;
  bottom: 5em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 20svw;
  height: 20svw;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 26svw;
  bottom: 25svw;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 90%;
  border-top-right-radius: 30%;
  box-shadow: 0 0 10px #0b0b0b5c;
}
  @keyframes greens{
    0%{right: 26svw; bottom: 25svw;}
    40%{right: -10svw; bottom: -25svw; width: 17.5svw; height: 20svw; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 67.5svw; bottom: 50svw; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 26svw; bottom: 25svw;}
  }
.cloud{
  position: absolute;
  width: 30svw;
  height: 17.5svw;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 10svw;
  bottom: 5svw;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 50%;
  transform: rotate(-20deg);
  box-shadow: 0 0 20px #20232673;
}
  @keyframes cloud{
    0%{right: 10svw; bottom: 5svw; border-top-right-radius: 40%; transform: rotate(-20deg);}
    40%{right: -25svw; bottom: 25svw; border-bottom-left-radius: 50%; border-top-right-radius: 10%; border-bottom-left-radius: 70%; width: 0em; height: 10em; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 70svw; bottom: 0; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 10svw; bottom: 5svw; border-top-right-radius: 40%; transform: rotate(-20deg);}
  }
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5svw;
  right: 0;
}
  @keyframes bottom-green{
    0%{right: 0; bottom: -2.5svw;}
    40%{right: -25svw; bottom: -65svw; width: 17.5svw; height: 20svw; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 45svw; bottom: 55svw; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 0; bottom: -2.5svw; transform: rotate(-45deg);}
  }
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5svw;
  width: 20.5svw;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5svw;
  width: 20.5svw;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10svw;
  width: 20svw;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10svw;
  width: 20svw;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
}
.sorualani{
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 60svw;
  height: 35svw;
  background-color: rgb(0 0 48 / 25%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
@keyframes sorualanikapat{
  0%{scale: 1}
  50%{scale: 1.1}
  100%{scale: 0}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 70%;
  width: 30%;
  border-radius: 2svw;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .7) 0 0 25px;
  transition: all .25s ease-in-out;
  padding: 5%;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 70%) 0 0 25px;
}
#sorubaslik{
  font-size: calc(1em + 1svw);
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5svw 0 .5svw;
}
.siklar{
  margin-top: .5svw;
  display: grid;
  grid-template-rows: 6svw 6svw 6svw 6svw 6svw;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 4svw;
  width: 25svw;
  border-radius: 1svw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 1;
}
.suk:hover{
  height: 4svw;
  width: 25svw;
  border-radius: 1svw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -5px 5px inset;
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 17.5px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}
