html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media(max-width: 1023px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 12em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
  transition: all .5s;
}
#earth{
  font-size: 22.5px;
  height: 120px;
  position: absolute;
  left: 1.5em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: helvetica;
  position: absolute;
  margin-left: 5em;
  font-weight: bolder;
  font-size: 30px;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8.5em;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 60px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 52.5px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 67.75px;
  height: 67.75px;
  position: absolute;
  right: 3em;
  border-radius: 20px;
  transition: all .20s ease-in-out;
  cursor: pointer;
  top: 3.25em;
}
.ustukapat:hover{
  background-color: #34425c9c;
}
  @keyframes ust{
    to{top: -12em; display: none}
  }
  @keyframes ust-rvr{
    from{top: -12em; display: none;}
    to{top: 0; display: flex}
  }
  @keyframes ustukapat{
    to{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); border-radius: 10px;}
  }
  @keyframes ustukapat-rvr{
    from{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); border-radius: 10px;}
    to{background-color: rgb(56 38 88); transform: rotate(360deg); border-radius: 20px;}
  }
/*sun*/
.sun{
  position: absolute;
  height: 40em;
  width: 40em;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: -10em;
  bottom: 0em;
  z-index: 3;
  overflow: hidden;
}
/*mercure*/
.mercure{
  display: none;
}
/*moon*/
.moon{
  position: absolute;
  width: 7.5em;
  height: 7.5em;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 24em;
  right: 24em;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
}
@keyframes uydu{
  0%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 24em; right: 24em; z-index: 1;}
  10%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  14%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  18%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  22%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  26%{background-image: linear-gradient(100deg, #747479, #777474, #8c8e90);}
  30%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  40%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  50%{background-image: linear-gradient(100deg, #525255, #c1bcbc, #ffffff); bottom: 0em; right: 0em; display: none;}
  60%{background-image: linear-gradient(100deg, #727276, #aaa6a6, #e7e8e8);}
  70%{background-image: linear-gradient(100deg, #9a9a9d, #bcb8b8, #b5b5ba);}
  74%{background-image: linear-gradient(100deg, #747479, #777474, #4e4f50);}
  78%{background-image: linear-gradient(100deg, #888585, #8d8d90, #7a7d80);}
  82%{background-image: linear-gradient(100deg, #a19d9d, #a0a0a5, #636567);}
  86%{background-image: linear-gradient(100deg, #bdbaba, #bbbbc1, #4e4f50);}
  90%{background-image: linear-gradient(100deg, #d6d2d2, #d2d2d8, #3b3c3d);}
  100%{background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22); bottom: 24em; right: 24em; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 25em;
  height: 25em;
  right: 2em;
  bottom: 5em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 15em;
  height: 15em;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 7.5em;
  bottom: 12.5em;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
}
.cloud{
  position: absolute;
  width: 20em;
  height: 12.5em;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 7.5em;
  bottom: 2.5em;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  transform: rotate(25deg);
  box-shadow: 0 0 20px #20232673;
}
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5em;
  right: 0;
}
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
}
.sorualani{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 35em;
  height: 50em;
  background-color: rgb(0 0 48 / 25%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 2;
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 22.75em;
  width: 35em;
  border-radius: 1,53em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .3) 0 0 25px;
  transition: all .25s ease-in-out;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 1.5em;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 30%) 0 0 25px;
}
#sorubaslik{
  font-size: 20px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5em 0 .5em;
}
.siklar{
  margin-top: .5em;
  display: grid;
  grid-template-rows: 7.5em 7.5em 7.5em 7.5em 7.5em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 5em;
  width: 30em;
  border-radius: 1.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 1;
}
.suk:hover{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -10px 15px inset;
}
@keyframes skac{
  to{box-shadow: rgba(239, 254, 10, .3) 0 0 7.5px,
    rgb(230 230 250 / 20%) 0 10px 15px inset}
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 20px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}





@media(min-width: 1024px){
body{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #171818, rgb(51 5 134));
}
.ust{
  background-color: rgb(56 38 88);
  height: 8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: rgb(56 38 88) 0px 0px 15px;
  transition: all .5s;
  z-index: 5;
}
#earth{
  font-size: 15px;
  height: 80px;
  position: absolute;
  left: 1.5em;
  filter: drop-shadow(0px 0px 10px #6e6db3);
}
#siteadi{
  color: rgb(240, 232, 255);
  font-family: helvetica;
  position: absolute;
  margin-left: 5em;
  font-weight: bolder;
}
.digeryarismalar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 7.5em;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all .20s ease-in-out;
  cursor: pointer;
}
.digeryarismalar:hover{
  background-color: #34425c9c;
}
#code{
  height: 40px;
  color: rgb(240, 232, 255);
}
#top-alignment{
  height: 35px;
}
.ustukapat{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 2em;
  right: 2em;
  border-radius: 10px;
  transition: all .8s ease-in-out;
  cursor: pointer;
}
  @keyframes ust{
    to{top: -8em; display: none}
  }
  @keyframes ust-rvr{
    from{top: -8em; display: none;}
    to{top: 0; display: flex}
  }
  @keyframes ustukapat{
    to{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); top: .75em; right: .75em; width: 70px; height: 70px; border-radius: 50%;}
  }
  @keyframes ustukapat-rvr{
    from{background-color: rgb(106 88 138 / 30%); backdrop-filter: blur(100px); transform: rotate(180deg); top: .75em; right: .75em; width: 70px; height: 70px; border-radius: 50%;}
    to{background-color: rgb(56 38 88); transform: rotate(360deg); top: 2em; right: 2em; width: 45px; height: 45px; border-radius: 10px;}
  }
/*sun*/
.sun{
  position: absolute;
  height: 50em;
  width: 50em;
  background-image: linear-gradient(45deg,#916a2eeb, #978f23eb,#afa526eb,#a39b34eb,#a39b34eb, #ffb307);
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgb(253 168 13 / 96%);
  left: -20em;
  bottom: 0em;
  z-index: 3;
  overflow: hidden;
}
/*moon*/
.moon{
  position: absolute;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-image: linear-gradient(100deg, #ffffff, #ffffff, #1b1f22);
  bottom: 30em;
  right: 35em;
  z-index: 1;
  box-shadow: 0 0 15px #444648;
  animation-delay: .25s;
}
@keyframes uydu{
  0%{bottom: 30em; right: 35em; z-index: 1;}
  50%{bottom: 0em; right: 0; display: none;}
  100%{bottom: 30em; right: 35em; z-index: 0;}
}
/*world*/
.world{
  position: absolute;
  width: 35em;
  height: 35em;
  right: 0em;
  bottom: 5em;
  background-image: linear-gradient(75deg, #1466ad, #21272d);
  border-radius: 50%;
  box-shadow: -5px 5px 2em #3175b1cf,
    10px -5px 2em #131415;
  overflow: hidden;
}
.greens{
  position: absolute;
  width: 25em;
  height: 25em;
  background-image: linear-gradient(100deg, #01ff40, #1d5134);
  transform: rotate(-45deg);
  right: 26em;
  bottom: 25em;
  border-bottom-left-radius: 90%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 90%;
  border-top-right-radius: 30%;
  box-shadow: 0 0 10px #0b0b0b5c;
}
  @keyframes greens{
    0%{right: 26em; bottom: 25em;}
    40%{right: -10em; bottom: -25em; width: 17.5em; height: 20em; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 67.5em; bottom: 50em; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 26em; bottom: 25em;}
  }
.cloud{
  position: absolute;
  width: 30em;
  height: 17.5em;
  background-image: linear-gradient(45deg, #f8f7f7f5, #6f7c88bf);
  right: 10em;
  bottom: 5em;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 50%;
  transform: rotate(-20deg);
  box-shadow: 0 0 20px #20232673;
}
  @keyframes cloud{
    0%{right: 10em; bottom: 5em; border-top-right-radius: 40%; transform: rotate(-20deg);}
    40%{right: -25em; bottom: 25em; border-bottom-left-radius: 50%; border-top-right-radius: 10%; border-bottom-left-radius: 70%; width: 0em; height: 10em; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 70em; bottom: 0em; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 10em; bottom: 5em; border-top-right-radius: 40%; transform: rotate(-20deg);}
  }
#bottom-green{
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  bottom: -2.5em;
  right: 0;
}
  @keyframes bottom-green{
    0%{right: 0em; bottom: -2.5em;}
    40%{right: -25em; bottom: -65em; width: 17.5em; height: 20em; opacity: .5; box-shadow: 0 0 20px #000000;}
    65%{right: 45em; bottom: 55em; box-shadow: 0 0 20px #000000f0;}
    70%{z-index: -1;}
    95%{z-index: 0;}
    100%{right: 0em; bottom: -2.5em; transform: rotate(-45deg);}
  }
/*soru alanı*/
.buyuksorualani{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-self: center;
}
#brdr{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  background-image: linear-gradient(45deg, rgb(250 205 5), rgb(108 113 35), rgb(15 18 33));
  border-radius: 10px;
  box-shadow: 0 0 15px rgb(24 23 26 / 50%);
  transition: all .35s ease-in-out;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#brdr:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10.5em;
  width: 20.5em;
  opacity: .75;
  border-radius: 30px;
  box-shadow: 0 0 15px rgb(232 229 237 / 50%);
}
#oyna{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px rgb(70 20 150 / 50%);
  transition: all .35s ease-in-out;
}
#oyna:hover{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10em;
  width: 20em;
  background-image: linear-gradient(45deg, #1b1f3161, #14165578);
  border-radius: 30px;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 15px rgb(70 20 150 / 80%);
}
#oyn{
  font-family: system-ui, ui-serif;
  color: antiquewhite;
  opacity: .8;
  text-shadow: 0 0 10px rgb(25 26 26 / 50%);
}
.sorualani{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 28em;
  height: 45em;
  background-color: rgb(0 0 48 / 25%);
  backdrop-filter: blur(50px);
  border-radius: 1.25em;
  scale: 1;
  transition: all .25s ease-in-out;
  z-index: 6;
  }
@keyframes sorualani{
  0%{scale: 0}
  80%{scale: 1.1}
  100%{scale: 1}
}
@keyframes sorualanikapat{
  0%{scale: 1}
  50%{scale: 1.1}
  100%{scale: 0}
}
.soru{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 15em;
  width: 25em;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, .7) 0 0 25px;
  transition: all .25s ease-in-out;
}
.soru:hover{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  position: relative;
  height: 15em;
  width: 25em;
  border-radius: 2em;
  backdrop-filter: blur(15px);
  box-shadow: rgb(240 56 56 / 70%) 0 0 25px;
}
#sorubaslik{
  font-size: 20px;
  font-family: system-ui, helvetica;
  color: rgb(240, 232, 255);
  font-weight: bold;
  margin: 0 .5em 0 .5em;
}
.siklar{
  margin-top: .5em;
  display: grid;
  grid-template-rows: 5em 5em 5em 5em 5em;
  align-items: center;
  justify-content: center;
}
.suk{
  height: 4em;
  width: 25em;
  border-radius: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  animation: skac 1s ease alternate;
  animation-iteration-count: 2;
  transition: all .25s ease-in-out;
  box-shadow: rgb(252 252 248 / 30%) 0 0 7.5px;
  opacity: 1;
}
.suk:hover{
  height: 4em;
  width: 25em;
  border-radius: 1em;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  box-shadow: rgb(233 233 233 / 30%) 0 0 7.5px,
    rgb(242 242 238 / 30%) 0 -10px 15px inset;
}
@keyframes skac{
  to{box-shadow: rgba(239, 254, 10, .3) 0 0 7.5px,
    rgb(230 230 250 / 50%) 0 10px 15px inset}
}
.cevap{
  font-family: system-ui, helvetica;
  font-weight: bold;
  font-size: 17.5px;
  color: transparent;
  transition: all .35s ease;
  color: rgb(240 232 255 / 80%);
}
.cevap:hover{
  text-shadow: rgb(240 232 255 /50%) 0 0 20px;
  color: rgb(240 232 255 / 100%);
}
}
